BOT_TOKEN_CLIENT=
BOT_TOKEN_ADMIN=
POSTGRES_DSN=postgresql+asyncpg://corruption:secret@postgres:5432/corruption
POSTGRES_USER=corruption
POSTGRES_PASSWORD=secret
REDIS_URL=redis://redis:6379/0
ADMIN_IDS=123456789,987654321
